 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Us</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><a href="http://www.meetup.com/merchise/join">Merchise Startup Circle</a> has been formed to help all those who are
involved in the Cuban startup scene in any way. The goal is to create a
regular meetup for anyone interested in startups, tech and entrepreneurship.</p>

<p>We can learn from each other, do some interesting projects, recruit, get
recruited or at the very least have a seriously geeky conversation with
others who actually understand what we're saying.</p>
                </div>
                <div class="col-lg-4">
                    <p>We'll try to have a mix of tech talks and product discussions, and
potentially even a hackathon or two - a hackathon is an event with no
specific agenda, everyone comes and "hacks" on their projects.
</p>
<p>
    If you are building - or want to build - a tech startup, if you're a VC,
angel investor, or anyone else with an interest in the startup community
in Cuba, then <a href="http://www.meetup.com/merchise/join">this group is for you</a>.

</p>
                </div>
                <!--div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div-->
            </div>
        </div>
    </section>