
    <!-- Portfolio Grid Section -->
    <section class="success" id="meetup">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2>Meetup</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
<p>The meetup is pretty informal and is a great opportunity to hang out and
chat about our projects, get feedback and possibly find co-founders.
We'll have pizza and beer whenever possible.</p>

<p>Let's get together and <a href="mailto:info@merchise.com">connect in person</a> with our very own
meetup. We look forward to meeting you soon at one of our events!
We <a href="#contact">seek sponsors and presenters</a>!</p>
                </div>
            </div>
        </div>
    </section>