 <!-- Partnership Section -->
    <section id="stripe-atlas">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Stripe Atlas and Merchise</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <p>On March 18, 2016 Stripe <a href="https://stripe.com/blog/atlas-cuba" target="_blank">announced</a> the expansion of Stripe Atlas to include Cuban entrepreneurs. <a href="https://stripe.com/atlas" target="_blank">Stripe Atlas</a> initially launched on February 24, 2016. During the beta period, entrepreneurs will need an invitation from Stripe or one of their <a href="https://stripe.com/atlas/faq#Who-is-in-the-Stripe-Atlas-network" target="_blank">partners around the world</a>, including Merchise Startup Circle in Cuba.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <p>If interested in entering Atlas, please subscribe to:</p>
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                <form action="//merchise.us13.list-manage.com/subscribe/post?u=abfeaf264dcbd91552e1380fa&amp;id=11ba98d927" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group">
                        <input value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email address..." type="email">
                        <input value="" name="subscribe" id="mc-embedded-subscribe" class="button" type="submit">
                        </div>
                        <div id="mce-responses" class="clear">
                          <div class="response" id="mce-error-response" style="display:none"></div>
                          <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_abfeaf264dcbd91552e1380fa_11ba98d927" tabindex="-1" value=""></div>
                    </div>
                </form>
                </div>
                <!--End mc_embed_signup-->
                <p>We are still formalizing the rules and the workflow to streamline the application process. We'll keep you posted on our progress.
For further enquiries regarding Atlas, please shoot us an email to <a href="mailto:atlas@merchise.com">atlas@merchise.com</a></p>
                </div>
            </div>
        </div>
    </section>