 <!-- Partnership Section -->
    <section id="stripe-atlas">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Stripe Atlas and Merchise</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <p>On March 18, 2016 Stripe <a href="https://stripe.com/blog/atlas-cuba" target="_blank">announced</a> the expansion of Stripe Atlas to include Cuban entrepreneurs. <a href="https://stripe.com/atlas" target="_blank">Stripe Atlas</a> initially launched on February 24, 2016. During the beta period, entrepreneurs will need an invitation from Stripe or one of their <a href="https://stripe.com/atlas/faq#Who-is-in-the-Stripe-Atlas-network" target="_blank">partners around the world</a>, including Merchise Startup Circle in Cuba.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <p>If interested in entering Atlas, please subscribe below:</p>
                <br/>
				<!-- Begin MailChimp Signup Form -->
				<p>* all fields are required</p>
				<form action="//merchise.us13.list-manage.com/subscribe/post?u=abfeaf264dcbd91552e1380fa&amp;id=11ba98d927" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate >
					<div class="row control-group" style="width: 99%;margin: auto;">
						<div class="row control-group">
							<div class="form-group col-xs-12 floating-label-form-group controls">
								<label>Email</label>
								<input type="email" name="EMAIL" class="form-control" placeholder="Email" id="atlas_email" required="" data-validation-required-message="Please enter a valid email address.">
								<p class="help-block text-danger"></p>
							</div>
						</div>

						<div class="row control-group">
							<div class="form-group col-xs-12 floating-label-form-group controls">
								<label>Nombre / First Name</label>
								<input type="text" name="FNAME" class="form-control" placeholder="Nombre / First Name" id="atlas_first_name" required="" data-validation-required-message="Please enter your first name .">
								<p class="help-block text-danger"></p>
							</div>
						</div>
						
						<div class="row control-group">
							<div class="form-group col-xs-12 floating-label-form-group controls">
								<label>Apellidos / Last Name</label>
								<input type="text" name="LNAME" class="form-control" placeholder="Apellidos / Last Name" id="atlas_last_name" required="" data-validation-required-message="Please enter your last name.">
								<p class="help-block text-danger"></p>
							</div>
						</div>
						
						<div class="row control-group">
							<div class="form-group col-xs-12 floating-label-form-group controls">
								<label>Sobre Mi / About Me</label>
								<textarea name="ABOUT" rows="5" class="form-control" placeholder="Cuéntanos sobre ti, tu negocio y tu interés en Atlas / Tell us about you, your business and your interest in Atlas" id="atlas_about" required="" data-validation-required-message="Please tell us a bit more..."></textarea>
								<p class="help-block text-danger"></p>
							</div>
						</div>

						<input type="hidden" name="b_abfeaf264dcbd91552e1380fa_11ba98d927" tabindex="-1" value="">
						<br/>
						<div class="row">
							<div class="form-group col-xs-12">
								<button type="submit" class="btn btn-success btn-lg">Subscribe</button>
							</div>
						</div>

				    </div>
				</form>
				<!--End mc_embed_signup-->

                <p>We are still formalizing the rules and the workflow to streamline the application process. We'll keep you posted on our progress.
For further enquiries regarding Atlas, please shoot us an email to <a href="mailto:atlas@merchise.com">atlas@merchise.com</a></p>
                </div>
            </div>
        </div>
    </section>